.dashboardcss{
    display: flex;
    gap: 10px;
}

.dashboardinfo{
    margin-top: 0px;
}

.environmentalstatus{
    margin-top: -30px;
}

.environmentalstatus h4{
    color: #FFD34D;
    margin-bottom: 0px;
}

.environmentalstatuscontainer{
    border: solid 1px #FFD34D;
    width: 1140px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    gap: 20px;
}

.envigraph{
    border: 1px solid #FFD34D;
    height: 300px;
    width: 550px;
    border-radius: 25px;
}

.environmentalgraphs h4{
    margin: 0px;
    color: #FFD34D;
}

.envitoppart{
    display: flex;
    gap: 20px;
}